.site-footer {
  // background-color: rgb(54, 54, 54);
  color: $fc1;

  a {
    color: $fc1;
  }

  .privacy-policy-link {
    color: $fc1;
  }
  .jetpack_widget_social_icons svg {
    fill: $fc1;
  }

  .footer-widgets-wrap {
    display: flex;
    flex-wrap: wrap;

    .footer-widget-column {
      width: 100%;

      @media (min-width: 768px) {
        width: 33.3333%;
      }
    }

    &.footer-widget-alignment-active {
      .footer-widget-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        &.jmh-footerwidget-align-small-center {
          align-items: center;
        }
        &.jmh-footerwidget-align-small-left {
          align-items: flex-start;
        }
        &.jmh-footerwidget-align-small-right {
          align-items: flex-end;
        }

        @media (min-width: 768px) {
          &.jmh-footerwidget-align-big-center {
            align-items: center;
          }
          &.jmh-footerwidget-align-big-left {
            align-items: flex-start;
          }
          &.jmh-footerwidget-align-big-right {
            align-items: flex-end;
          }
        }
      }
    }
  }
  .site-info {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 0 20px 0;
  }
}
