$nav-transition: 0.3s ease-in-out;
$nav-breackingpoint: 1500px;
$nav-mobile-bgrc: $site-bg-color;
$bgopacity_nav: 0.8;
body {
  &.body-scrolled {
    .main-navigation {
      color: $fc1;
      fill: $fc1;
      height: 97px;
      .nav-container {
        height: 97px;
      }

      .nav--links {
        height: 152px;
      }

      .nav--mobile-btn-line {
        background-color: $fc1;
      }
      .nav--mobile-langSwitch-item {
        border-color: $fc1;
      }
    }
  }
}

.main-navigation {
  position: fixed;
  top: 0;
  color: $fc1;
  fill: $fc1;
  width: 100%;
  z-index: 1000;
  max-height: 100vh;
  height: 110px;
  transition: all 0.3s;
  // background-color: $site-bg-color;
  // border: red solid 1px;

  .nav-container {
    transition: all 1s;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .nav--mobile-btn-line {
    background-color: $fc1;
  }

  &.main-navigation-bright {
    color: $fc2;
    fill: $fc2;
    .nav--mobile-btn-line {
      background-color: $fc2;
    }
    .nav--mobile-langSwitch-item {
      border-color: $fc2;
    }
  }
  .nav--mobile {
    height: 0px;
    overflow: hidden;
    transition: all 0.5s;
    background-color: $nav-mobile-bgrc;
  }

  &.nav--mobile-open {
    color: $fc1;
    .nav--mobile-btn-line {
      background-color: $fc1;
    }
    background-color: $nav-mobile-bgrc;
    .nav--mobile {
      display: flex;
      height: 100vh;
    }
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}
.nav-container {
  // border: blue solid 1px;
  height: 100%;
}
.nav-background {
  top: -100px;
  height: calc(100% + 100px);
  width: 1000%;
  position: absolute;
  background-color: $site-bg-color;
  // filter: blur(2px);
  opacity: 0.8;
}

.nav--upper {
  z-index: 3;
  // border: blue solid 1px;
  width: 100%;
  max-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  transition: max-height $nav-transition, margin-top $nav-transition;
}

.nav--logo {
  margin-top: 34px;
  display: flex;

  // height: 100%;
  height: 92px;
  align-items: flex-start;
  transition: margin-top 1s;
  color: inherit;

  // width: 35%;
  svg {
    height: 100%;
    fill: inherit;
  }

  a {
    width: 100%;
  }
  h1 {
    color: inherit;
    width: 60%;
    margin: 3px 0 0 36px;
    padding: 0;
    height: 30;
    line-height: 1rem;
    white-space: nowrap;
    font-size: 29px;
    letter-spacing: 1.1px;
    font-family: "hind", sans-serif;
  }

  @media screen and (max-width: 550px) {
    margin-top: 47px;
    height: 62px;
    flex-wrap: wrap-reverse;

    h1 {
      font-size: 23px;
      margin: 10px 0;
      width: 100%;
    }
  }
}

.nav--mobile-langSwitch {
  @media screen and (max-width: $nav-breackingpoint) {
    display: none;
  }
  width: 125px;
  height: 60px;
  display: flex;
  .nav--mobile-langSwitch-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.33333%;

    height: 25px;
    border-right: $fc1 solid 1px;

    h1 {
      font-family: "hind", sans-serif;
      font-size: 28.5px;
    }
  }
  .nav--mobile-langSwitch-item:last-child {
    border-right: none;
    h1 {
      border-bottom: $fc1 1px solid;
    }
  }
}

.nav--links {
  // border: red solid 1px;
  margin-left: 140px;
  height: 177px;
  width: 495px;
  transition: height 1s;
  margin-top: 37px;

  overflow: hidden;
  display: none;
  @media screen and (min-width: $nav-breackingpoint) {
    display: flex;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    transition: transform 0.3s;
  }
  .menu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu-item {
      height: 100%;
      display: flex;
      align-items: center;
      transition: transform 0.3s;

      a {
        font-family: $tech-font;
        position: relative;
        font-weight: 800;
        font-size: 62px;
        letter-spacing: 1px;
        height: 100%;
        display: flex;
        align-items: center;
      }
    }
    .menu-item:not(.current-menu-item):hover {
      // transform: translateY(-22px);
    }
    .menu-item:not(.current-menu-item) > a:hover::before {
      content: "";
      pointer-events: none;
      margin: 0 auto;
      top: 0;
      left: 0;
      right: 0;
      position: absolute;
      width: 50%;

      border-bottom: $fc2 solid 20px;

      border-color: inherit;
      animation: lineIn 0.3s alternate forwards;
    }
    .current-menu-item {
      // transform: translateY(-30px);
    }

    .current-menu-item > a::before {
      content: "";
      pointer-events: none;
      margin: 0 auto;
      top: 0;
      left: 0;
      right: 0;
      position: absolute;
      width: 100%;

      border-bottom: $fc2 solid 20px;
      border-color: inherit;
    }

    .sub-menu {
      display: none;
    }
  }
}

@keyframes lineIn {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.nav--mobile {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: calc(100% - 150px);
    .menu-item {
      width: 100%;
      transition: transform 0.3s;

      a {
        font-family: $tech-font;
        position: relative;
        font-weight: 800;
        font-size: 62px;
        letter-spacing: 1px;

        text-align: center;
      }
    }
  }
  display: flex;
  @media screen and (min-width: $nav-breackingpoint) {
    display: none;
  }
}

.main-navigation {
  &.main-navigation-bright {
    .nav--mobile-btn-line {
      background-color: $fc2;
    }
  }
}

.nav--mobile-btn {
  margin-left: auto;

  z-index: 1000;
  width: 60px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: $nav-breackingpoint) {
    display: none;
  }
}
.nav--mobile-btn-custom {
  width: 90%;
}
.nav--mobile-btn-line {
  transition: all $nav-transition;
  height: 3px;
  border-color: inherit;
  border-radius: 10px;
}

.nav--mobile-btn-line:nth-child(2) {
  margin: 8px 0;
}

.nav--mobile-btn-open {
  .nav--mobile-btn-line {
    background-color: $fc2;
    transition: all $nav-transition;
    border-style: solid;
    border-width: 0.1px;
    border-color: inherit;
  }

  .nav--mobile-btn-line:nth-child(1) {
    transform: rotate(45deg) translate(0px, 4px);
  }

  .nav--mobile-btn-line:nth-child(2) {
    opacity: 0;

    margin: 0px 0;
  }

  .nav--mobile-btn-line:nth-child(3) {
    transform: rotate(-45deg) translate(0px, -4px);
  }
}
