$nav-transition: 0.3s ease-in-out;
$nav-breackingpoint: 992px;
$nav-mobile-bgrc: rgba(61, 61, 61, 0.952);

body {
  &.body-scrolled {
    .main-navigation {
      height: 50px;
      background-color: rgba(255, 255, 255, 0.616);
      color: $fc1;

      .nav--mobile-btn-line {
        background-color: $fc1;
      }
    }
  }
}

.main-navigation {
  // border: red solid 1px;
  position: fixed;
  top: 0;
  color: $fc1;
  width: 100%;
  z-index: 1000;
  max-height: 100vh;
  height: 70px;
  transition: background-color 0.3s, height $nav-transition, top 800ms, color 0.3s;

  .nav--mobile-btn-line {
    background-color: $fc1;
  }

  &.main-navigation-bright {
    color: $fc2;
    .nav--mobile-btn-line {
      background-color: $fc2;
    }
  }
  .nav--mobile {
    display: none;
  }

  &.nav--mobile-open {
    color: $fc2;
    .nav--mobile-btn-line {
      background-color: $fc2;
    }
    background-color: $nav-mobile-bgrc;
    .nav--mobile {
      transition: background-color 0.3s;
      display: flex;
      height: 100vh;
      background-color: $nav-mobile-bgrc;
    }
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}
.nav-container {
  height: 100%;
}

.nav--upper {
  // border: blue solid 1px;
  display: flex;
  justify-content: space-between;
  height: inherit;
  transition: height $nav-transition;
}

.nav--logo {
  display: flex;
  height: inherit;
  align-items: center;
  color: inherit;

  h1 {
    color: inherit;
    width: 100%;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    font-size: 1.9rem;
  }
}

.nav--links {
  display: none;
  @media screen and (min-width: $nav-breackingpoint) {
    display: flex;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .menu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu-item {
      height: 100%;
      display: flex;
      align-items: center;

      a {
        position: relative;
        font-weight: 800;
        font-size: 1.1rem;
      }
    }
    .menu-item:not(.current-menu-item) > a:hover::after {
      content: "";
      pointer-events: none;
      margin: 0 auto;
      left: 0;
      right: 0;
      position: absolute;
      width: 50%;
      height: 105%;
      font-weight: 900;
      border-bottom: $fc2 solid 1.9px;
      border-color: inherit;
      animation: lineIn 0.3s alternate forwards;
    }

    .current-menu-item > a::after {
      content: "";
      pointer-events: none;
      margin: 0 auto;
      left: 0;
      right: 0;
      position: absolute;
      width: 100%;
      height: 105%;
      font-weight: 900;
      border-bottom: $fc2 solid 1.9px;
      border-color: inherit;
    }

    .sub-menu {
      display: none;
    }
  }
}

@keyframes lineIn {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.nav--mobile {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  display: flex;
  @media screen and (min-width: $nav-breackingpoint) {
    display: none;
  }
}

// .nav--upper > .nav--logo {
//   display: flex;
//   height: inherit;
//   align-items: center;
//   color: inherit;

//   h1 {
//     color: inherit;
//     width: 100%;
//     margin: 0;
//     padding: 0;
//     white-space: nowrap;
//     font-size: 1.9rem;
//   }
//   a {
//     color: inherit;
//   }
// }

// .nav--upper > .nav--links {
//   display: none;
//   @media screen and (min-width: $nav-breackingpoint) {
//     display: flex;
//   }

//   margin-left: auto;
//   .menu {
//     margin: 0;
//     padding: 0;
//     width: 100%;
//     display: flex;
//     justify-content: space-between;

//     .menu-item {
//       border: green solid 1px;
//       position: relative;
//       list-style: none;
//       white-space: nowrap;

//       a {
//         color: inherit;
//         font-weight: 600;
//         font-size: 1.2rem;
//       }
//     }

//     > .menu-item {
//       display: flex;
//       align-items: stretch;
//       height: 100%;

//       a {
//         display: flex;
//         align-items: center;
//       }
//       > .sub-menu {
//         display: none;
//       }
//     }

//     > .menu-item:hover {
//       > .sub-menu {
//         display: block;
//         border: black solid 3px;
//         position: absolute;
//         top: 100%;
//         background-color: rgb(255, 255, 255);
//         right: 0;
//         margin: 0;
//         padding: 0;

//         .menu-item {
//           margin: 10px 20px;
//           width: fit-content;
//           a {
//             white-space: nowrap;
//             width: fit-content;
//           }
//         }
//         .current-menu-item::after {
//           height: 3px;
//         }
//       }
//     }

//     .current-menu-item::after {
//       height: 70%;
//     }
//   }
// }

//   .current-menu-item::after {
//     content: "";
//     pointer-events: none;
//     margin: 0 auto;
//     left: 0;
//     right: 0;
//     position: absolute;
//     width: 100%;
//     font-weight: 600;
//     border-bottom: $fc2 solid 2px;
//     border-color: inherit;
//   }

//   .nav--mobile {
//     display: none;
//     height: 90%;
//     width: 100%;
//     max-height: 70vh;

//     .menu::-webkit-scrollbar {
//       display: none;
//     }

//     @-moz-document url-prefix() {
//       /* Disable scrollbar Firefox */
//       .menu {
//         scrollbar-width: none;
//       }
//     }

//     .menu {
//       margin: 0;
//       padding: 30px 0;
//       height: calc(100vh - 150px);
//       width: 100%;

//       overflow-y: scroll;

//       .menu-item {
//         position: relative;
//         margin-top: 20px;
//         list-style: none;
//         width: fit-content;
//         font-size: 1.4rem;
//       }
//       .current-menu-item::after {
//         height: 110%;
//       }
//       > .menu-item-has-children {
//         padding: 10px;
//         border: rgb(226, 226, 226) solid 1px;
//       }
//     }
//   }
// }

// ----------------------------------------------MOBILE BUTTON

.main-navigation {
  &.main-navigation-bright {
    .nav--mobile-btn-line {
      background-color: $fc2;
    }
  }
}

.nav--mobile-btn {
  margin-left: auto;

  @media screen and (min-width: $nav-breackingpoint) {
    display: none;
  }

  z-index: 1000;
  width: 60px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: red;

  @media screen and (min-width: $nav-breackingpoint) {
    display: none;
  }
}
.nav--mobile-btn-custom {
  width: 90%;
  border-color: red;
}
.nav--mobile-btn-line {
  transition: all $nav-transition;
  height: 3px;
  border-color: inherit;
  border-radius: 10px;
}

.nav--mobile-btn-line:nth-child(2) {
  margin: 8px 0;
}

.nav--mobile-btn-open {
  .nav--mobile-btn-line {
    background-color: $fc2;
    transition: all $nav-transition;
    border-style: solid;
    border-width: 0.1px;
    border-color: inherit;
  }

  .nav--mobile-btn-line:nth-child(1) {
    transform: rotate(45deg) translate(0px, 4px);
  }

  .nav--mobile-btn-line:nth-child(2) {
    opacity: 0;

    margin: 0px 0;
  }

  .nav--mobile-btn-line:nth-child(3) {
    transform: rotate(-45deg) translate(0px, -4px);
  }
}
