.post-navigation,
.posts-navigation {
  width: 100%;

  .nav-links {
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
      max-width: 150px;
      background-color: $fc1;
      border-radius: 28px;
      transition: background-color 1s;
      border: $fc1 solid 3px;

      a {
        white-space: nowrap;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        text-decoration: none;
        color: $fc2;
      }
    }
    div:hover {
      background-color: $fc2;

      a {
        color: $fc1;
      }
    }
  }
}
