.post {
  border-bottom: 2px solid $fc1;
  padding: 20px 20px;
  transition: background-color 0.3s;
  a {
    text-decoration: none;
    color: $fc1;
  }

  .entry-content {
    img {
      margin: 0 auto;
    }
    display: flex;
    flex-wrap: wrap;
    @media screen and (min-width: 760px) {
      flex-wrap: nowrap;
    }
    .entry-exerpt {
      p {
        padding: 0;
      }

      @media screen and (min-width: 760px) {
        p {
          margin: 0;
          padding: 0 0 0 20px;
          line-height: 30px;
        }
      }

      &.no-padding {
        p {
          padding: 0;
        }
      }
    }
  }
}

.post:hover {
  background-color: rgba(128, 128, 128, 0.151);
}

.post:last-child {
  margin-bottom: 35px;
}
