$small: "only screen and (min-width : 540px)";
$medium: "only screen and (min-width : 720px)";
$big: "only screen and (min-width : 1200px)";

@font-face {
  font-family: "lineto";
  src: url("fonts/webfonts/3AF026_0_0.woff") format("woff");
}
@font-face {
  font-family: "hind";
  src: url("fonts/Hind-Google/Hind-Google/Hind-Light.ttf") format("opentype");
}

$tech-font: "lineto", sans-serif;

$personal-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$f3: "helvetica", sans-serif;

$mainc1: rgb(51, 51, 51);

$fc1: rgb(59, 59, 59);

$fc2: rgb(255, 255, 255);

$boxShadow: 6px 10px 30px rgba(134, 133, 133, 0.459);
$boxShadowbig: 6px 10px 70px rgba(129, 129, 129, 0.941);
@font-face {
  font-family: "MyFont";
  src: url("../fonts/Editor.otf") format("otf");
}

body {
  font-family: $tech-font;
  color: $fc1;
}

p {
  font-family: "hind", sans-serif;
  font-size: 1.5rem;
  line-height: 1.6rem;
}

h1,
h2,
h3,
h4,
strong,
h5 {
  font-weight: 100;
  font-family: $tech-font;
}
html {
  font-size: 16px;
}

h1 {
  font-size: 4.5rem;
  line-height: 3.8rem;
  letter-spacing: 4.5px;
}
