@import "imports";

@keyframes pageIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.body--out-animation {
  opacity: 0;
  transition: all 250ms;
}
.body--in-animation {
  animation-duration: 250ms;
  animation-name: pageIn;
  animation-timing-function: linear;
  .modular {
    position: relative;
    top: 0;
    overflow: hidden;
  }
}
$bgopacity: 1;
body {
  // background-color: rgba(205, 92, 92, $bgopacity);

  .site-content {
    position: relative;
    overflow: hidden;
    // margin-top: 70px;
    transition: margin-top 0.3s ease-in-out;
  }
  &.admin-bar {
    .main-navigation {
      top: 0;
      @media screen and (min-width: 782px) {
        top: 32px;
      }
    }
  }
}

body {
  background-color: $site-bg-color;

  &.body-scrolled {
    .site-colored-Background {
      top: 80px;
    }
  }
  &.admin-bar {
    .site-colored-Background {
      top: 80px;
    }
  }
}
@keyframes bgColor {
  0% {
    background-color: rgba(205, 92, 92, $bgopacity);
  }
  25% {
    background-color: rgba(205, 184, 92, $bgopacity);
  }
  50% {
    background-color: rgba(92, 205, 126, $bgopacity);
  }
  75% {
    background-color: rgba(92, 118, 205, $bgopacity);
  }
  100% {
    background-color: rgba(205, 92, 177, $bgopacity);
  }
}

.site-content {
  margin: 110px 0 0 0;

  &.site-content-no-menu-space {
    margin: 0;
  }
}

.not-found {
  margin-bottom: 35px;
}
