@import "../scss/font";

@media (min-width: 768px) {
  .wp-block {
    max-width: 750px;
  }
}
@media (min-width: 1000px) {
  .wp-block {
    max-width: 1000px;
  }
}
@media (min-width: 1500px) {
  .wp-block {
    max-width: 1398px;
  }
}
